@model IEnumerable<ScoutFieldLog_GroupProject.Models.StartUpCompanies>
@{
    ViewBag.Title = "Connector View";
}
<h2>Connector View</h2>
<div id="leadsList">
    @{
        Html.RenderPartial("_LeadsList", Model);
    }
</div>
<br />
<div id="leadDetails">
    @{
        StartUpCompanies firstCompany = Model.First<StartUpCompanies>();
        Html.RenderPartial("_LeadDetails", firstCompany);
    }
</div>
@*<script>
    document.getElementsByClassName("leadDetailsButton").onclick = function{displayDetails()}
    function displayDetails() {
        document.getElementById("leadDetails").load("@Html.Raw(Url.Action("_LeadDetails")) ");
    }
</script>*@