@model IEnumerable<ScoutFieldLog_GroupProject.Models.StartUpCompanies>

<script>
    let updatePage;
    let viewPage;
    let cID;
    let companyName;

    function ajaxSuccess() {
        let mainContent = document.getElementById("saveStatus");
        mainContent.innerHTML = "Save successful!";

        console.log(this.responseText);
        loadCompanyDetails(cID);
    }

    function submitEvaluationForm() {
        let mainContent = document.getElementById("mainContent");
        let oFormElement = document.createEvaluationForm;
        var oReq = new XMLHttpRequest();
        oReq.onload = ajaxSuccess;
        oReq.open("post", "/Home/CreateEvaluation");
        oReq.onload = function () {
            let mainContent = document.getElementById("mainContent");
            let evalPage = oReq.responseText;
            mainContent.innerHTML = evalPage;
            let button = document.getElementById("AnalyzeSubmit");
            button.type = "button";
            button.addEventListener("click", function () {
                window.scrollTo(0, 0);
                loadAnalyzeForm();
                return false;
            });
            button = document.getElementById("CompanyDetailsSubmit");
            button.type = "button";
            button.addEventListener("click", function () {
                window.scrollTo(0, 0);
                cancelUpdatePage();
                return false;
            });
            button = document.getElementById("ReviewEvaluationsSubmit");
            button.type = "button";
            button.addEventListener("click", function () {
                window.scrollTo(0, 0);
                loadReviewEvaluations();
                return false;
            });
        };
        let fd = new FormData(oFormElement);
        fd.append("partial", true);
        oReq.send( fd );
    }

    function submitUpdateForm() {
        let oFormElement = document.updateCompany;
        var oReq = new XMLHttpRequest();
        oReq.onload = ajaxSuccess;
        oReq.open("post", oFormElement.action);
        oReq.send(new FormData(oFormElement));
    }

    function cancelUpdatePage() {
        let mainContent = document.getElementById("mainContent");
        mainContent.innerHTML = viewPage;
    }

    function loadUpdatePage() {
        let mainContent = document.getElementById("mainContent");
        mainContent.innerHTML = updatePage;
    }

    function loadEvaluationForm() {
        let mainContent = document.getElementById("mainContent");
        let ourRequest = new XMLHttpRequest();
        ourRequest.open("GET", "/Home/CreateEvaluation?partial=true&companyId=" + cID, false);
        ourRequest.onload = function () {
            let mainContent = document.getElementById("mainContent");
            let evalPage = ourRequest.responseText;
            mainContent.innerHTML = evalPage;
            let button = document.getElementById("createEvaluationFormSubmit");
            button.type = "button";
            button.addEventListener("click", function () {
                submitEvaluationForm();
                return false;
            });
        };
        ourRequest.send();
    }

    function loadAnalyzeForm() {
        let mainContent = document.getElementById("mainContent");
        let ourRequest = new XMLHttpRequest();
        ourRequest.open("GET", "/Home/AnalyzeStartup?partial=true&companyId=" + cID, false);
        ourRequest.onload = function () {
                let mainContent = document.getElementById("mainContent");
                let analyzePage = ourRequest.responseText;
                mainContent.innerHTML = analyzePage;
        };
        ourRequest.send();
    }

    function loadProjects() {
        let mainContent = document.getElementById("mainContent");
        let ourRequest = new XMLHttpRequest();
        ourRequest.open("POST", "/Home/ListStartUpProjects", false);
        let fd = new FormData();
        fd.append("partial", true);
        fd.append("companyName", companyName);
        ourRequest.onload = function () {
            let mainContent = document.getElementById("mainContent");
            let projectsPage = ourRequest.responseText;
            mainContent.innerHTML = projectsPage;
        };
        ourRequest.send( fd );
    }

    function loadReviewEvaluations() {
        let mainContent = document.getElementById("mainContent");
        let ourRequest = new XMLHttpRequest();
        ourRequest.open("GET", "/Home/ReviewEvaluations?partial=true&companyId=" + cID, false);
        ourRequest.onload = function () {
            let mainContent = document.getElementById("mainContent");
            let reviewPage = ourRequest.responseText;
            mainContent.innerHTML = reviewPage;
        };
        ourRequest.send();
    }

    function loadCompanyDetails(companyID) {
        let mainContent = document.getElementById("mainContent");
        let recommendations = document.getElementById("recommendations");

        cID = companyID;
        let ourRequest = new XMLHttpRequest();
        ourRequest.open("GET", "/Home/CompanyDetailsPartial?companyId=" + companyID, false);
        ourRequest.onload = function () {
            let mainContent = document.getElementById("mainContent");
            viewPage = ourRequest.responseText;
            mainContent.innerHTML = viewPage;
        };
        ourRequest.send();

        let ourRequest2 = new XMLHttpRequest();
        ourRequest2.open("GET", "/Home/SimilarStartupsPartialView?companyId=" + companyID, false);
        ourRequest2.onload = function () {
            let recommendations = document.getElementById("recommendations");
            recommendations.innerHTML = ourRequest2.responseText;
        };
        ourRequest2.send();

        let ourRequest3 = new XMLHttpRequest();
        ourRequest3.open("GET", "/Home/EditCompanyPartial?companyId=" + companyID, true);
        ourRequest3.onload = function () {
            updatePage = ourRequest3.responseText;
        };
        ourRequest3.send();
    }
</script>
<select id="companySelector" size="5">
    @foreach (var company in Model)
    {
        <option id="@company.Id" onclick='companyName = "@company.CompanyName";loadCompanyDetails(@company.Id);'>@company.CompanyName</option>
    }
</select>
